.pagination {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  display: inline;
  margin: 0 5px;
  padding: 1px;
  color: gray;
  background-color: white;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
}

.pagination .currentPage {
  background-color: rgb(237, 237, 237);
}