.srOnly {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0,0,0,0);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
  color: black;
}

.logo {
  margin: 0 4px 0 20px;
  font-size: 1.5rem;
  font-weight: 800;
  color: darkred;
  cursor: pointer;
}

.profile,
.container {
  margin: 0 auto;
}

.profile {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 72px;
  background-color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}

.nickname {
  margin: 0;
  font-size: 1.4rem;
  line-height: 72px;
  font-weight: 600;
  text-align: center;
}

.container {
  max-width: 1040px;
  height: 100vh;
  padding: 132px 20px 109px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.messageBox,
.myMessageBox {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.myMessageBox {
  justify-content: flex-end;
  align-items: flex-end;
}

.dateBox {
  margin: 24px 0;
  font-size: 0.8rem;
  font-weight: 600;
  color: darkgray;
  text-align: center;
}

.message,
.myMessage {
  display: inline-block;
  max-width: 600px;
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(211, 211, 211, 0.5);
  white-space: pre-wrap;
}

.myMessage {
  background-color: darkgreen;
  color: white;
}

.time {
  margin: 0 16px;
  font-size: 0.8rem;
  color: darkgray;
}

.scrollRef {
  height: 24px;
}

.noMessage p {
  padding: 30px 0;
  color: gray;
  text-align: center;
}

.inputBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(211, 211, 211, 0.6);
}

.myChatBox {
  max-width: 1040px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid darkgray;
  border-radius: 12px;
}

.myChat,
.myChat:focus {
  border: none;
  width: 100%;
}

.sendBtn {
  width: 64px;
  height: 40px;
  margin: 10px;
  flex-shrink: 0;
  font-size: 0.9rem;
  border-radius: 12px;
}

@media (max-width: 1080px) {
  .myChatBox {
    width: calc(100% - 40px);
    margin: 20px;
  }
}